<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDp8SDWFlE8awdKL0gF2-iZLBvrFsyGazg</string>
	<key>GCM_SENDER_ID</key>
	<string>414163866777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.githubusers</string>
	<key>PROJECT_ID</key>
	<string>challenge-ft-github-users</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-ft-github-users.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414163866777:ios:7f5a666c292d0d917e5408</string>
</dict>
</plist>